# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [19]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [20]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [21]:
# Set the date column as the DataFrame index
df.set_index("date", inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [24]:
# Drop the date column
dropped_date_column_df = df.reset_index(drop=True,)
dropped_date_column_df.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [25]:
# Filter data for desired months
df.reset_index(inplace=True)
df.head()

        date      station  prcp  tobs
0 2010-01-01  USC00519397  0.08    65
1 2010-01-02  USC00519397  0.00    63
2 2010-01-03  USC00519397  0.00    74
3 2010-01-04  USC00519397  0.00    76
4 2010-01-06  USC00519397   NaN    73

In [34]:
# Identify the average temperature for June
june_temperatures_df = df[df["date"].dt.month == 6] 
average_june_temperature = june_temperatures_df["tobs"].mean()

print(f"The average temperature across all the stations in June is {average_june_temperature}")

The average temperature across all the stations in June is 74.94411764705882

In [35]:
# Identify the average temperature for December
december_temperatures_df = df[df["date"].dt.month == 12] 
average_december_temperature = december_temperatures_df["tobs"].mean()

print(f"The average temperature across all the stations in December is {average_december_temperature}")

The average temperature across all the stations in December is 71.04152933421226

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis